<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> hello </h1>
    <h3>Render my First page</h3>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. In corrupti animi veritatis repellat beatae sint nisi numquam possimus. Officiis nostrum distinctio vero ad asperiores est corporis optio aspernatur beatae. Dignissimos?</p>

    <h1>{{title}}</h1>
    <h2>{{name}}</h2>
    <h3>{{class}}</h3>


</body>
</html>